

:root+
{
    --color: #434455;
    --text-decoration: none;
    --font-family: sans-serif;
    --text-align: center;
    --font-weight: 500;
    --background-color: #ffffff;
    --brand-color: #4d5ae5;
    --logo-color: #2e2f42;
    --footer-paragraph-and-logo: #f4f4fd;
}